* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(255, 255, 255);
    --accent-color: rgb(54, 142, 209);
    --background-color: rgb(227, 232, 240);
}

body {
    height: 100vh;

    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    line-height: 1.5;
    
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 2fr 7fr;
}

.sidebar {
    padding: 2vh 2vw;

    background-color: var(--accent-color);
    color: var(--primary-color);

    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    place-content: start;
    align-items: start;
    gap: 5vh;

    & .branding {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-auto-flow: column;
        gap: 1vw;
        align-items: center;

        & svg {
            fill: var(--primary-color);
            height: 2rem;
        }

        & div {
            font-size: 2rem;
            font-weight: bolder;

            position: relative;
            top: .25rem;
        }
    }

    & ul {
        list-style-type: none;

        display: grid;
        gap: 2vh;

        & li {
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-auto-flow: column;
            justify-content: start;
            gap: 1vw;
            align-items: baseline;

            font-size: 1.5rem;
            font-weight: bold;
    
            & svg {
                fill: var(--primary-color);
                height: 1.20rem;
                display: inline-block;
                justify-self: center;
            }
        }   
    } 
}

.header {
    padding: 1vh 3vw;

    background-color: var(--primary-color);

    grid-area: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 2fr;

    & .searchbar {
       padding: 1vw 1vh;

        display: flex;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
        gap: 1vw;

        & svg {
            height: 1rem;
        }

        & input {
            height: 1.75rem;
            width: 100%;
            padding: 1rem;

            background-color: var(--background-color);
            border: none;
            border-radius: 1rem;
        }
    }

    & .user-info {
        padding-right: 2vw;

        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        align-items: center;
        gap: 2vw;

        font-weight: bolder;

        & svg {
            height: 1rem;
        }

        & img {
            clip-path: circle();
        }
    }

    & .greeting {
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
        gap: 1vw;

        font-weight: bold;

        & img {
            clip-path: circle();
        }

        & .greeting-text {
            font-size: small;
        }

        & .greeting-user {
            font-size: larger;
        }
    }

    & .buttons {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-evenly;
        align-items: center;

        & button {
            height: 2rem;
            width: 6rem;

            background-color: var(--accent-color);
            color: var(--primary-color);
            border: none;
            border-radius: 1rem;

            font-weight: bolder;
            justify-self: center;
        }
    }
}

.main-content {
    background-color: var(--background-color);
}
