* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(255, 255, 255);
    --accent-color: rgb(54, 142, 209);
    --background-color: rgb(227, 232, 240);
    --profile-color: rgb(132, 47, 26);
    --body-text-color: grey;
    --header-text-color: black;

    --font-size-s: 0.800rem;
    --font-size-1: 1.000rem;
    --font-size-2: 1.250rem;
    --font-size-3: 1.563rem;
    --font-size-4: 1.953rem;
}

body {
    height: 100vh;

    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    line-height: 1.5;
    
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 2fr 7fr;
}

img {
    clip-path: circle();
    object-fit: cover;
}

.sidebar {
    padding: 2vh 2vw;

    background-color: var(--accent-color);
    color: var(--primary-color);

    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    place-content: start;
    align-items: start;
    gap: 5vh;

    & .branding {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-auto-flow: column;
        gap: 1vw;
        align-items: center;

        & svg {
            fill: var(--primary-color);
            height: 2rem;
        }

        & div {
            font-size: 2rem;
            font-weight: bolder;

            position: relative;
            top: .25rem;
        }
    }

    & ul {
        list-style-type: none;

        display: grid;
        gap: 2vh;

        & li {
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-auto-flow: column;
            justify-content: start;
            gap: 1vw;
            align-items: baseline;

            font-size: 1.5rem;
            font-weight: bold;
    
            & svg {
                fill: var(--primary-color);
                height: 1.20rem;
                display: inline-block;
                justify-self: center;
            }
        }   
    } 
}

.header {
    padding: 1vh 3vw;

    background-color: var(--primary-color);
    box-shadow: 0px 2px 5px grey;
    z-index: 1; /* make the shadow appear over the content area */

    grid-area: 1 / 2;
    display: grid;
    grid-template-columns: 1fr min-content;

    & .searchbar {
       padding: 1vw 1vh;

        display: flex;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
        gap: 1vw;

        & svg {
            height: 1rem;
        }

        & input {
            height: 1.75rem;
            width: 100%;
            padding: 1rem;

            background-color: var(--background-color);
            border: none;
            border-radius: 1rem;
        }
    }

    & .user-info {
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        align-items: center;
        gap: 2vw;

        font-weight: bolder;

        & svg {
            height: 1rem;
        }
    }

    & .greeting {
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
        gap: 1vw;

        font-weight: bold;

        & .greeting-text {
            font-size: small;
        }

        & .greeting-user {
            font-size: larger;
        }
    }

    & .buttons {
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        align-items: center;
        gap: 2vw;

        & button {
            height: 2rem;
            width: 6rem;

            background-color: var(--accent-color);
            color: var(--primary-color);
            border: none;
            border-radius: 1rem;

            font-weight: bolder;
            justify-self: center;
        }
    }
}

.main-content {
    background-color: var(--background-color);
    padding: 4vh 2vw;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 1vw;

    & h3 {
        font-size: var(--font-size-2);
    }

    & .projects {
        grid-area: 1 / 1 / -1 / 2;

        & .cards {
            height: calc(100% - 30px); /* Account for the header */
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
            grid-template-rows: auto;
            gap: 2vh 2vw;   
    
            & .card {
                background-color: var(--primary-color);
                padding: 2vh 1vw;
                border-left: 10px solid var(--profile-color);
                border-radius: 10px;
                box-shadow: 2px 2px 5px grey;
        
                color: var(--body-text-color);
                line-height: 1.2;
                max-inline-size: 66ch;

                display: grid;
                grid-template-rows: 1fr 4fr 1fr;
                gap: 0.5vh;

                & h4 {
                    color: var(--header-text-color);
                    font-size: var(--font-size-1);
                }

                & .icons {                   
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: end;
                    align-items: end;
                    gap: 2vw;
                }

                & svg {
                    height: 1rem;
                }
            }
        }
    }

    & .announcements {       
        & h3 {
            font-size: var(--font-size-2);
        }

        & .container {
            background-color: var(--primary-color);
            box-shadow: 2px 2px 5px grey;
            padding: 2vh 1.5vw;
            border-radius: 1vh;

            & .announcement {
                padding: 1.0vh 0.5vw;

                & h5 {
                    font-size: var(--font-size-1);
                }

                & p {
                    font-size: var(--font-size-s);
                    line-height: 1.2;
                    color: var(--body-text-color);
                }
            }
        }
    }

    & .trending {
        & h3 {
            font-size: var(--font-size-2);
        }

        & .container {
            background-color: var(--primary-color);
            box-shadow: 2px 2px 5px grey;
            padding: 2vh 1.5vw;
            border-radius: 1vh;

            display: grid;
            gap: 2vh;

            font-size: var(--font-size-s);
            line-height: 1.2;
            color: var(--body-text-color);

            & .user {
                display: grid;
                grid-template-columns: 1fr 3fr;

                & img {
                    grid-area: 1 / 1 / 3 / 1;
                }

                & .username {
                    color: var(--header-text-color);
                }
            }
        }
    }

}
